
#body
{
    background-color: #eeec83;
}







div
{
    border-radius: 5px;
    }

    #navbar{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #navbar li{
        list-style: none;
        padding: 0 20px;
        position: relative;
    
    }
    
    #navbar li a{
        text-decoration: none;
        font-size: 16px;
        font-weight: 600 ;
        color: #f1f5f0;
        transition: 0.3s ease;
    }
    
    
    #navbar li a:hover,
    #navbar li a.active{
        color: #f8e041;
    
    }
    
    #navbar li a.active::after,
    #navbar li a:hover::after{
        content: "";
        width: 30%;
        height: 2px;
        background: #843504;
        position: absolute;
        bottom: -4px;
        left: 20px; 
    }


    
    
#header
{
    position: fixed;
    z-index: 1;
    height:70px;
    width: 98%;
    background-color: #2e2828;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    margin-bottom: 10px
    }

#wire
{
    background: #eeec83;
}



#wire .txt h1
{
    font-size: xx-large;
    color:#433e18;
    padding: 165px 20px 15px;
    text-align: center;

}

#wire .img
{
  
padding: 30px 45px 50px;

   
}
#test
{
    background-color: #c77a4a;
    font-size: x-large;
}